@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b0b0b;
  background-image:
    linear-gradient(rgba(255,255,255,0.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.06) 1px, transparent 1px);
  background-size: 40px 40px;
  color: white;
}
